.birdsBody{
    color: lightgray;
    font-size: 25px;
    margin-top: -20px;
}
.data{
    color: black;
    margin-top: -25px;
    overflow-x: scroll;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
/* .inputBox{
    margin-bottom: 0px;
} */